<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Exercise 1: Create a Jupyter Notebook

# Exercise 2: Create markdown cell with title of the notebook using H1 style heading

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 10 - Insert a markdown cell to list Objectives of this notebook.create an unordered list

**Objectives**

* Understanding Mark Down
* Executing code cells
* Understanding NumPY
* Exploring Pandas

# Exercise 4 - Create a markdown cell to list data science languages using an ordered list

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Matlab

# Exercise 5 - Create a markdown cell to list data science libraries using ordered list

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. Seaborn

# Exercise 6 - Create a markdown cell with a table of Data Science tools.Create a single column table in this cell with the first row containing the header Data science Tools,he subsequent three rows in the table should indicate three development environment open source tools used in data science.

|Data Science Tools |
|-------------------|
|Jupyter Notebooks  |
|Rstudio            |
|VS Code            |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Addition     :12 + 3

Subtraction   :10 - 4

Multiplication:11 * 5

Division      :15 / 3

# Exercise 8 - Create a code cell to multiply and add numbers

In [45]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [47]:
# This expression will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Bolanle Keji Olaleye